<!DOCTYPE html>
<html>
<head>
  <title>WorkoutBuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<h1 id="title">Workout Buddy</h1>
</div>

<%= yield %>

<div class="footer">
<p>Made by MattMattAndyBrandon</p>
</div>

</body>
</html>
