#firstScreen {
	position: absolute;
	top: 10vh;
	left: 0vw;
	width: 100vw;
	height: 90vh;
	margin-top: 0vh;
}

#secondScreen {
	position: absolute;
	top: 10vh;
	left: 100vw;
	width: 100vw;
	height: 90vh;
	margin-top: 0vh;
	background-color: rgba(222,184,135,0.9);
}

#submit {
	position: absolute;
	width: 20vw;
	height: 90vh;
	top: 0vh;
	left: 80vw;
	background-color: #dddddd;
	background-image: url(submit.png);
	background-repeat: no-repeat;
	background-size: 10vw 30vh;	
	background-position: 50%;
}

.slider {
	margin-top: 10vh;
	margin-bottom: 15vh;
	margin-left: 10vw;
	left: 10vw;
	width: 60vw;

}

.tab-bar {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	width: 100%;

	position: fixed;

	left: 0;
	top: 0;

	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-ms-flex-pack: justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;

	/*background: #3C78D8;*/
	background: #D8783C;
}

.tab-bar button {
	width: 8vh;
	height: 8vh;

	margin-top: 1vh;
	margin-bottom: 1vh;

	border: none;

	background-color: rgba(255, 255, 255, 0.5);

	border-radius: 100%;

	-webkit-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;

	-webkit-tap-highlight-color: transparent;
}

.tab-bar button:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

.tab-bar button:focus {
	background-color: rgba(255, 255, 255, 0.7);
	outline: 0;
}

.tab-bar button:active {
	background-color: rgba(255, 255, 255, 0.9);
}

.tab-bar button.selected {
	background-color: rgba(255, 255, 255, 1.0);
}