.training_info{
    display:none;
}

.personal_info {
    text-align: center;
}

.personal_info input{
    margin: 5px 0px;
    height:40px;
    width: 50%;
    border-radius: 10px;
}

#title{
    text-align: center;
}

.field_name{
    font-size: 30px;
    position:relative;
    margin:0px;
    top: 45px;
}

body{
    background: linear-gradient(
            rgba(150, 0, 50, 0.45),
            rgba(150, 0, 50, 0.45)
        ),
    url("gym.jpg");
    background-size: cover;
}

