// Place all the styles related to the Registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background: linear-gradient(
            rgba(100, 0, 50, 0.45),
            rgba(100, 0, 50, 0.45)
        ),
    url("/pictures/gym.jpg");
    background-size: cover;
}

body *{
    font-color: white;
}
