// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.login div *{
    display: block;
    margin: 10px auto;
    opacity: .95;
    border-radius: 5px;
    font-size: 15px;
}

.login_button *{
    background-color: white;
}
