<div class="login">
    <h1>Log in</h1>
    <%= form_for(:session, url:login_path) do |f| %>
        <div class="login_entry">
            <%= f.email_field :email, :placeholder => "Email" %>

            <%= f.password_field :password, :placeholder => "Password" %>
        </div>

        <div class="login_button">
            <%= f.submit "Log in", class: "btn-submit" %>
        </div>
    <% end %>
</div>

