<!-- Map -->
<div id="googleMap"></div>
	
	<div id="menu"> 
		<table>
			<div id="profilePic"></div> 
			<tr>
				<td id="name">John Smith</td> 
			</tr>
			<tr>
				<td id="blank"></td> 
			</tr>
			<tr>
				<td id="gender">Gender: </td>
			</tr>
			<tr>
				<td id="height">Height: </td>
			</tr>
			<tr>
				<td id="weight">Weight: </td>
			</tr>
			<tr>
				<td id="experience">Experience: </td>
			</tr>
		</table>

	</div>


<script>
var myCenter =new google.maps.LatLng(32.7150,-117.1625);

google.maps.event.addDomListener(window, 'load', function(){
    console.log("HI");
    //Google map view
	var mapProp = {
	center: myCenter,
	zoom:11,
	mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

	var marker = new google.maps.Marker({
		position: myCenter,
	});

	marker.setMap(map);	
});

</script>

